.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .parent h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    }

    .parent h2 {
    justify-content: center;
    font-family: cursive;
    font-size: 16px;
    color: blue;
    display: flex;
    font-style: oblique;
    }

.Cameron{
    display: flex;
}

    .Cameron h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
    }

    .Cameron p {
        background-color: white;
        color: black;
    }