.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 500;
}

.nav-flex-row li {
    background-color: white;
    width: 500px;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.about-us h1 {
    font-family: 'Times New Roman', Times, serif sans-serif;
}

.banner-section {
    padding: 200px 500px
    justify-content: center;
    align-items: center;
}

.about-us h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.about-us p {
    text-align: left;
    width: 50%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}