.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 500;
}

.nav-flex-row li {
    background-color: white;
    width: 500px;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.about-us h1 {
    font-family: 'Times New Roman', Times, serif sans-serif;
}

.banner-section {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.about-us p {
    text-align: left;
    width: 60%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.page-body {
    background-color: cadetblue;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
    border-style: inset inset outset outset;
    border-width: 5px;
    border-color: aqua;
    vertical-align: middle;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border: 1px dashed;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.menu-item-title {
text-align: center;
}

.menu-item-description {

}