.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 500;
}

.nav-flex-row li {
    background-color: white;
    width: 500px;
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.about-us h1 {
    font-family: 'Times New Roman', Times, serif sans-serif;
}

.banner-section {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.about-us p {
    text-align: left;
    width: 60%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.page-body {
    background-color: cadetblue;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other 
This is what jubalini made, im just greenning it out for now without erasing it.
.column {
    flex: 50%;
    padding: 0 4px;
    border-style: inset inset outset outset;
    border-width: 5px;
    border-color: aqua;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 22%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border: 1px dashed;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.menu-item-title {
text-align: center;
}

.menu-item-description {

}

*/

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 2fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 7px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; display: flex; }
    .div2 { grid-area: 2 / 1 / 3 / 2; display: flex; }
    .div3 { grid-area: 1 / 2 / 2 / 3; display: flex; }
    .div4 { grid-area: 2 / 2 / 3 / 3; display: flex; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 4 / 1 / 5 / 2; }
    .div7 { grid-area: 3 / 2 / 4 / 3; }
    .div8 { grid-area: 4 / 2 / 5 / 3; }

    .white-box {
        background-color: white;
        color: black;
        height: 150px;
        width: 500px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }